.game {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    margin: 10px;
    width: 14rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.4);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.title {
    margin-bottom: 12px;
}
.genres {
    margin-top:5px;
}
.image {
    width: 150px;
    height: 85px;
}